.homeCard {
  background: var(--card-bg);
  color: var(--card-text);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--card-border);
  padding: 20px 18px 18px 18px;
  min-width: 300px;
  max-width: 340px;
  flex: 1 1 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 12px;
  align-items: flex-start;
}
.cardTitle {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 12px;
  color: var(--card-text);
}
.cardGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  margin-bottom: 30px;
  width: 100%;
}
.cardGridItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 110px; */
}
.cardImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 8px;
  border-radius: 8px;
  background: #f3f3f3;
}
.cardGridItem > div {
  font-size: 14px;
  color: var(--card-text);
  margin-top: 2px;
  text-align: center;
}
.cardLink {
  color: var(--link-color);
  font-size: 1rem;
  margin-top: auto;
  align-self: flex-start;
  position: absolute;
  left: 18px;
  bottom: 18px;
  text-decoration: none;
  font-weight: 500;
  display: block;
}
.cardLink:hover {
  color: var(--link-hover);
  text-decoration: underline;
}
